body {
  background: darken($info, 25%);
  min-height: 100vh;
  padding: 5rem 0 1rem;
}

.profile-buttons {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}


main {
  @include make-container;
  @include make-container-max-widths;

  section {
    text-align: center;
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(12);
    }
    background: #66CDAA;
    border: 1px solid;
    cursor: pointer;
    margin: -1px;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }

  }

  .content {
    &:empty {
      &::before {
        color: lighten($blue, 50%);
        content: '';
        font-size: 10vh;
        line-height: .85;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.delete-profile-button {
  display: flex;
  justify-content: flex-start;
}

#message {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px
}

nav {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    color: #90EE90;
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
  }

  .nav-buttons{
    display: flex;
    justify-content: flex-end;
  }
}
